* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  font-size: 20px;
  width: 100%;
  height: 100%;
  /* background-color: ; */
}
span {
  margin: 0 10px;
  text-align: center;
}
.title {
  font-weight: bold;
}
.calendar {
  text-align: center;
}
.month {
  text-align: center;

}
/* .container {
  width: 1070px;
  height: 100vh;
  margin: 0 auto;
} */
